<!-- public, 404 page -->
<!-- source: https://codepen.io/pgalor/pen/OeRWJQ -->

<head>
  <meta charset="utf-8" />
  <title>404</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link rel="stylesheet" type="text/css" href="/stylesheets/error.css">

</head>
<body>
  <div title="404">404</div>  
</body>