    <!-- <div class="section-3">
      <div class="wrapper">
        <div class="flex-horizontal-space-between"> -->
          
          <!-- LHS - HERO -->
          <!-- <div>
          
            <h2 class="heading">Hi, <%= user.firstName.replace(/\w/, c => c.toUpperCase()) %>!</h2>
            <p class="paragraph">Scroll down to see your COVID-19 test results.</p>
          
            <div class="div-block-56">
              
              <div class="div-block-55">
                <img src="https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606d14d2f089bb7019c8d941_download-arrow.png"
                      loading="lazy" width="16" height="16" alt="" class="image-13" />
              </div>

            </div>
          </div>         -->

          <!-- RHS - HERO -->
          <!-- <div class="account-settings-div">

            <div style="display: flex; flex-direction:row; align-items: baseline; margin-bottom: 30px">
              <div style="display: flex; color: #1f2c3d; font-size: 30px; font-height: 30px; padding: 0px; margin: 0px; margin-right: 10px">&#9881;</div>  
              <p id="modal-step" style="color: #1f2c3d; display: flex; align-self: center; padding: 0px; padding-top: 5px; margin: 0px">settings</p>
            </div>

            <p class="instruction">Use the form below to modify your account's settings.</p> -->

            <!-- name -->
            <!-- <form action="/login" method="post">
              <div class="field-wrap-triple">
                    <label class="modal-input-label">
                        Name
                    </label>
                    <input class="modal-input-field-straight" type="text" name="firstName" required autocomplete="off" />
                    <input class="modal-input-field" type="text" name="lastName" required autocomplete="off" />
                </div>
            </form> -->
            
            <!-- email -->
            <!-- <form action="/login" method="post">
              <div class="field-wrap">
                    <label class="modal-input-label">
                        Email
                    </label>
                    <input class="modal-input-field" type="email" name="username" required autocomplete="off" />
                </div>
            </form> -->

            <!-- password -->
            <!-- <form action="/login" method="post">
              <div class="field-wrap">
                    <label class="modal-input-label">
                        Password
                    </label>
                    <input class="modal-input-field" type="password" name="password" required autocomplete="off" />
                </div>
            </form>
            
            <hr>
        

            <div style="display: flex; width: 100%; flex-direction: row; align-items: baseline; justify-content: space-between">
              <a class="link-2">Click to update.</a>
              <button type="submit" class="submit-button">Update &#8635;</button>
            </div>

          </div>

        </div>
      </div>
  </div> -->

  <!-- <hr> page break -->

  <!-- UPCOMING APPOINTMENTS -->
  <!-- <div class="section">
    <div class="wrapper">

      <div class="ok" style="align-items: left;">
        <div class="coming-pill" style="display:block">
          <div class="text-block-3">Upcoming Appointments</div>
        </div>
      </div>

      <div class="div-block-54">
        <h3 class="heading-2">Get started</h3>
      </div> -->

    <!-- </div> end wrapper -->
  <!-- </div> end section -->

  <!-- <hr> page break -->
  
  <!-- PREV APPOINTMENTS -->
  <!-- <div class="section">
    <div class="wrapper">
      <div class="ok" style="align-items: left;">
        <div class="prev-pill" style="display:block">
          <div class="text-block-3">Upcoming Appointments</div>
        </div>
      </div>

      <div class="div-block-54">
 -->
        <!-- <p class="instruction" style="margin: 0px">Need to get tested? <a href="/book">Click Here.</a></p> -->
        <!-- <h3 class="heading-2">Get started</h3>
      </div>
 -->
    <!-- </div> end wrapper -->
  <!-- </div> end section -->