.left-nav.w-nav(data-collapse='medium' data-animation='default' data-duration='400' role='banner')
  .menu-button-4.w-nav-button
    img.image-51(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606def864ac7442a68e57083_pharmacy.png' loading='lazy' alt='')
  nav.left-nav-wrapper.w-nav-menu(role='navigation')
    .left-nav-buttons-top

      a.nav-link-wrapper.w-inline-block.w--current(href='/lab' aria-current='page')
        img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606d34795d8bee8b00c1e8ae_timeline-24px.svg' alt='')
        .nav-link-text Dashboard

      a.nav-link-wrapper.w-inline-block(href='/lab/patients')
        img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606d34795d8bee4613c1e8aa_account-group-outline.svg' alt='')
        .nav-link-text Patients

      a.nav-link-wrapper.w-inline-block(href='/lab/labs')
        img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606dee1fc0f9146ef1068a6d_half-full-flask.png' alt='')
        .nav-link-text Labs

      a.nav-link-wrapper.w-inline-block(href='/lab/test-sites')
        img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606defb63959db666984603a_medicine.png' alt='')
        .nav-link-text Test Sites
      
      a.nav-link-wrapper.w-inline-block(href='/lab/profile')
        img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606defb63959db666984603a_medicine.png' alt='')
        .nav-link-text Profile

      a.nav-link-wrapper.w-inline-block(href='/lab/settings')
        img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606d34795d8bee1a90c1e8b3_settings.png' alt='')
        .nav-link-text Settings

    a.nav-link-wrapper.w-inline-block(href='/logout')
      img.nav-link-icon(src='https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606d34795d8bee6638c1e8ab_exit.png' alt='')
      .nav-link-text Log Out