<!DOCTYPE html>
<html>  

<head>

    <!-- *** PUBLIC HEAD *** -->
    <%- include('./layout/includes/head.ejs') %>

</head>

<body>
  <div class="hero">
    <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav-bar w-nav">
      <div class="wrapper navbar-2 w-container">
        <div class="div-block-8">
          <a href="/" aria-current="page" class="nav-logo-2 w-inline-block w--current">
            <h3 class="logo-text">EZ-Test</h3>
          </a>
        </div>
        <nav role="navigation" class="nav-menu-2 w-nav-menu">
          <!-- <a href="/view-results" class="nav-link-2 w-nav-link">View Results</a> --> <!-- deprecated -->
          <div class="nav-cta-button-container">
            <a href="/book" class="nav-link-2 border w-nav-link">Book Appointment</a>
          </div>
        </nav>
        <div class="menu-button-2 w-nav-button">
          <div class="burger-icon w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div class="std-container w-container">
      <div class="w-layout-grid grid-2">
        <div>
          <h2 class="heading">Feeling a little under the weather? Schedule a Covid-19 Test Today.</h2>
          <p class="paragraph">Book a visit before 1 pm for same-day test results.</p>
          <div class="div-block-56">
            <div class="div-block-55">
              <img
                src="https://uploads-ssl.webflow.com/606d02611887abc3782da5dc/606d14d2f089bb7019c8d941_download-arrow.png"
                loading="lazy" width="16" height="16" alt="" class="image-13" />
            </div>
            <p class="small-paragraph-copy">Learn more</p>
          </div>
        </div>
        <div id="w-node-_208e7881-4821-39c7-f4dd-db4f5c3e8a98-4d2da5f1" class="div-block-51">
          <div class="div-block-52">
            <div class="text-block-3">Available 24/7</div>
          </div>
          <div class="div-block-54">
            <h3 class="heading-2">Get started</h3>
            <p class="small-paragraph">EZ-Test partners are open 24/7 and offer free Covid-19 testing, simple enough?
            </p>
          </div>
          <div class="div-block-53">
            <a href="/book" class="button-2 w-button">Book a Covid-19 Test</a>
            <!-- <a href="/view-results" class="link-2">Or click to view test results</a>  --> <!-- deprecated -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- *** PUBLIC FOOTER *** -->
  <%- include('./layout/includes/footer.ejs') %>

</body>

</html>