doctype html
html(lang=language)
    html
        head
            include includes/head.pug
            
        body
            include includes/top-nav.pug
            include includes/left-nav.pug
            
            block content
            
            //- include includes/footer.pug