<!-- public, global nav -->

<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav-bar w-nav">
  <div class="wrapper navbar-2 w-container">
      <div class="div-block-8">
          <a href="/" class="nav-logo-2 w-inline-block">
              <h3 class="logo-text">EZ-Test</h3>
          </a>
      </div>
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
          <!-- <a href="/view-results" class="nav-link-2 w-nav-link">View Results</a> -->
          <div class="nav-cta-button-container">
              <a href="/book" class="nav-link-2 border w-nav-link">Book Appointment</a>
          </div>
      </nav>
      <div class="menu-button-2 w-nav-button">
          <div class="burger-icon w-icon-nav-menu"></div>
      </div>
  </div>
</div>