<!-- this accordion is dynamically designed for appt booking -->
<!-- layed out here for clarity, this page does not connect to any other page -->

<dl class="accordion">

    <div class="test-center-card">

        <dt>
            <div>
                <p class="test-center-name">Swedish Edmonds</p>
                <p class="test-center-address">Swedish Edmonds</p>
            </div>
            <button type="button" class="view-appointments-button">+ VIEW APPOINTMENTS</button>
        </dt>

        <dd>
            <!-- menu -->
            <ul class="nav-tab-link-wrapper">
                <li class="nav-tab-link"><a  href="#tab-1">Today</a></li>
                <li class="nav-tab-link"><a  href="#tab-2">Tommorow</a></li>
                <li class="nav-tab-link"><a  href="#tab-2">12/12/2101</a></li>
            </ul>

            <!-- day[s] wrapper -->
            <div class="tab-content">

                <!-- day wrapper -->
                <div id="tab-1" class="tab-pane fade in active">
                    <!-- appointment wrapper -->
                    <div class="appointments-grid">
                        <button class="appointment-slot">10:15 AM</button>
                        <button class="appointment-slot">10:15 AM</button>
                        <button class="appointment-slot">10:15 AM</button>
                    </div>
                </div>

                <!-- day wrapper -->
                <div id="tab-1" class="tab-pane fade">
                    <!-- appointment wrapper -->
                    <div class="appointments-grid">
                        <button class="appointment-slot">10:15 AM</button>
                        <button class="appointment-slot">10:15 AM</button>
                        <button class="appointment-slot">10:15 AM</button>
                    </div>
                </div>

            </div>

        </dd>
    </div>

    <div class="test-center-card">
        <dt>
            <div>
                <p class="test-center-name">Swedish Edmonds</p>
                <p class="test-center-address">Swedish Edmonds</p>
            </div>
            <button type="button" class="view-appointments-button">+ VIEW APPOINTMENTS</button>
        </dt>
        <dd>
            Stuff
        </dd>
    </div>

</dl>

<div class="div-block-60"></div>

</div>
</div>
</div>